<%- include("../partials/header") %>
    <form action="/university/<%=data.id%>/comment" method="post">
        <input type="text" name="comment[text]" placeholder="text">
        <button type="submit">Submit</button>
    </form>
    <%- include("../partials/footer") %>