<%- include("partials/header") %>
<form action="/university" method="post">
    <input type="text" name="name" placeholder="name" >
    <input type="text" name="image" placeholder="image">
    <input type="text" name="description" value="description">
    <button type="submit">Submit</button>
</form>
<%- include("partials/footer") %>