<%- include("../partials/header") %>
<form action="/university" method="post">
    <input type="text" name="name" placeholder="name" >
    <input type="text" name="image" placeholder="image">
    <textarea name="description" id="" cols="30" rows="10" placeholder="description"></textarea>
 
    <button type="submit">Submit</button>
</form>
<%- include("../partials/footer") %>